PYTHONPATH=.

NAME=your-name
GITHUB_OWNER=your-github-username
GITHUB_REPO=gcp-game

PROJECT_ID=onboarding-de

REGION=europe-west1

PREFIX=${NAME}-meteo

BQ_LOCATION=EU
JOB_NAME=${PREFIX}-ingest
WORKFLOW_NAME=${PREFIX}-pipeline
AR_REPO=${PREFIX}-docker
BQ_DATASET=${NAME}
BQ_STOPS_SNCF_RAW_TABLE=stops_sncf_raw
BQ_STATIONS_WEATHER_RAW_TABLE=stations_weather_raw
BQ_STATION_TABLE=station
BQ_STATION_SNCF_TABLE=station_sncf
BQ_STATION_WEATHER_TABLE=station_weather
BQ_SNCF_WEATHER_STATION_TABLE=sncf_weather_station
BQ_SUMMARY_TABLE=summary
RUNTIME_SA=${PREFIX}-runtime@${PROJECT_ID}.iam.gserviceaccount.com
CICD_SA=${PREFIX}-cicd@${PROJECT_ID}.iam.gserviceaccount.com
WORKFLOW_SA=${PREFIX}-workflow@${PROJECT_ID}.iam.gserviceaccount.com
